body {
    background-image: url("washmachine.jpeg");
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    text-align: center;
<<<<<<< Updated upstream
=======
    background-image: url("washmachine.jpeg");
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
}

#center {
    text-align: center;
}

p {
    background-color: #cccccc;
>>>>>>> Stashed changes
}